main {
    height: 80vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

main h2 {
    margin-top: 2rem;
    text-align: center;
}

#no-event-p {
    margin-top: 4rem;
    text-align: center;
}

.display-events {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.display-events h3 {
    text-decoration: underline;
}

.events {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: .5rem;
}

.event {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 0 1rem;
}

.event p {
    width: 25ch;
}

.event a {
    font-size: 1.3rem;
    text-decoration: underline;
    color: var(--charlotte-green);
}

.buttons form button {
    background: none;
    border: none;
    margin-left: .5rem;
    cursor: pointer;
}

.buttons form button i {
    font-size: 1.4rem;
}